.msg{
    padding: 15px;
    position: absolute;
    z-index: 999;
    width: 100%;
    font-size: 2.3rem;
    font-weight: 400;
    top: 55px;
    color: #fff;
}
.msg-fail {
    background: rgba(233, 237, 7, 0.82);    
}
.msg-success {
    background: rgba(139, 228, 5, 0.82);
}    
#notification > p {
  margin: 0;
}